/* EXAMPLE 3

line height is 20px by default so add 30px top and bottom to equal the new .navbar-brand 80px height  */

#skiptocontent {
	height: 1px;
	width: 1px;
	position: absolute;
	overflow: hidden;
	top: -10px;
}

body, body.normal {
    font-size: 16px;
}
body.big {
    font-size: 20px;
}
body.small {
    font-size: 12px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.mainNav .navbar-brand {
  height: 80px;
}

.mainNav .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}

.mainNav .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

ul.dropdown-menu>li {
	padding: 10px 0px;
}

.font-adj {
	position: absolute;
	top: 5px;
	z-index: 5;
}

.font-adj>.sm {
	font-size: 1em;
}

.font-adj>.bg {
	font-size: 1.5em;
}

@media(max-width: 1520px) {
	.font-adj {
		right:40px;
	}
}

@media(max-width: 768px) {
	.font-adj {
		right:15%;
		font-size: 1.5em;
	}

	.font-adj>.sm {
		font-size: 1.0em;
	}

	.font-adj>.bg {
		font-size: 1.8em;
	}
}

@media (min-width: 768px) {
	.navbar-right {
		margin-right: 50px;
	}
}

.navbar-inverse {
	border-color: #273A7F;
}

.container-fluid {
  padding: 60px 50px;
}

.bg-grey {
  background-color: #f6f6f6;
}

.sectionBreak {
	display: inline-block;
	width: 30px;
	height:0;
}

.carousel-inner {
	margin-top: 80px;
}

.bannerBreak {
	display: inline-block;
	width: 5px;
	height: 80px;
}

/* Form */
.buttonSearch {
	background-color: #004466;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.01s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 40%;
}

@media(max-width: 768px) {
	.buttonSearch {
		background-color: #004466;
	    border: none;
	    color: white;
	    padding: 16px 32px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 16px;
	    margin: 4px 2px;
	    -webkit-transition-duration: 0.01s; /* Safari */
	    transition-duration: 0.4s;
	    cursor: pointer;
	    width: 90%;
	}
}

.buttonSearch:hover {
    background-color: #000033;
}

select {
    width: 30%;
    padding: 10px 20px;
    border-radius: 4px;
}

@media(max-width: 768px) {
	select {
	    width: 60%;
	    padding: 10px 20px;
	    border-radius: 4px;
	}

	select#no_passenger_select_u, select#no_passenger_select{
		width: 30%;
	}
}

/* End of Form */
.guides {
	font-size:2.3em;
}

.guideBreak {
	display: inline-block;
	width: 50px;
	height: 5px;
}
/* Guide */

.container>.row {
	padding: 0 100px;
}

@media(max-width: 768px) {
	.container>.row {
		padding: 0 50px;
	}

}

.content-section-a {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.content-section-b {
    padding: 50px 0;
    background-color: #f8f8f8;
}

/* End of Guide */

/* Footer */
footer {
	margin-bottom: 0px;
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* subscribe */
/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* Footer left */

.footer-left {
	width: 35%;
}

/* The company logo */

.footer-distributed h4{
	color:  #ffffff;
	font: normal 30px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h4 span{
	color:  #ff0000;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.buttonSub {
	background-color: #004466;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.01s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 100%;
}



/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center img{
	background-color:  #33383b;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 45px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-text{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-text span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}












/*Color Scheme*/
*{
	font-family: 'Aktiv Grotesk W01 Regular',sans-serif;
}

#nav{
	background-color: #273A7F;
}


h2 {
    font-size: 2.875em;
}

h3 {
    font-size: 2.3em;
}

p, label, a, input[type="radio"] {
    font-size: 1.2em;
}

input[type=checkbox]{
	
    transform:scale(1.45, 1.45);
	width: 50px;
}

input[type='radio'] {
	transform: scale(1.5);
	}

.navbar-inverse .navbar-toggle {
	border-color: white;
}

/*Disable text selection*/
*{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

#navright #navright1 #navright2{
  color: white;
}

#navright #navright1 #navright2:hover{
  background-color: white;
  color: #273A7F;
}

.footer-distributed .footer-left span{
  color:#BC3F28;
  font-family: 'Aktiv Grotesk W01 Regular',sans-serif;
}
.footer-distributed .footer-left h4{
  font-family: 'Aktiv Grotesk W01 Regular',sans-serif;
}

#email{
  color: #2E8B57;
  font-size: 1.05em;
}
